<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studyfy Event Calendar</title>
    <link href="/views/pages/calendar/calendar.css" rel="stylesheet">
    <script src="calendar.js"></script>
    
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="flashcards">Flashcards</a></li>
       
        
        <li><a href="/">Text Reader</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  <div id="cal-wrap">
    
      <div  id="cal-date">
        <select  id="cal-mth"></select>
        <select id="cal-yr"></select>
        <input id="cal-set" type="button" value="SET"/>
      </div>

    
      <div id="cal-container"></div>

    
      <div id="cal-event"></div>
  </div>
  </body>
  <script src="/views/pages/calendar/calendar.js"></script>
</html>
